<footer class="footer">
    <!-- Contenedor de caja blanca con efecto de desborde -->
    <div class="footer__card-container">
        <div class="container">
            <!-- Sección principal del footer -->
            <div class="footer__main">
                <div class="footer__content">
                
                <!-- Columna: Información institucional -->
                <div class="footer__column footer__column--info">
                    <div class="footer__brand">
                        <a href="/" class="footer__logo-link" aria-label="Ir a la página de inicio">
                            <img src="assets/images/unp-logo.svg" 
                                 alt="Logo Unidad Nacional de Protección" 
                                 class="footer__logo">
                        </a>
                        <p class="footer__description">
                            Entidad del Estado colombiano encargada de garantizar la protección integral 
                            de personas que se encuentren en situación de riesgo extraordinario.
                        </p>
                    </div>
                </div>
                
                <!-- Columna: Servicios -->
                <div class="footer__column footer__column--services">
                    <h4 class="footer__column-title">Servicios</h4>
                    <ul class="footer__links">
                        <li><a href="https://www.unp.gov.co/atencion-y-servicios-a-la-ciudadania/tramites-otros-procedimientos-administrativos/" class="footer__link">Trámites y Procedimientos</a></li>
                        <li><a href="https://www.unp.gov.co/atencion-y-servicios-a-la-ciudadania/canales-de-atencion/" class="footer__link">Canales de Atención</a></li>
                        <li><a href="https://www.unp.gov.co/linea-vida-103-1/" class="footer__link">Línea Vida 103</a></li>
                        <li><a href="https://www.unp.gov.co/atencion-y-servicios-a-la-ciudadania/pqrsd/" class="footer__link">PQRSD</a></li>
                        <li><a href="https://www.unp.gov.co/atencion-y-servicios-a-la-ciudadania/notificaciones/" class="footer__link">Notificaciones</a></li>
                    </ul>
                </div>
                
                <!-- Columna: Contacto -->
                <div class="footer__column footer__column--contact">
                    <h4 class="footer__column-title">Contacto</h4>
                    <div class="footer__contact-info">
                        <div class="footer__contact-item">
                            <span class="footer__contact-label">Atención al Ciudadano:</span>
                            <span class="footer__contact-value">Carrera 44 # 20-21 Bogotá D.C.</span>
                        </div>
                        <div class="footer__contact-item">
                            <span class="footer__contact-label">PBX:</span>
                            <a href="tel:+576014269800" class="footer__contact-value">(+57) 601 4 26 98 00</a>
                        </div>
                        <div class="footer__contact-item">
                            <span class="footer__contact-label">Línea Nacional:</span>
                            <a href="tel:018000118228" class="footer__contact-value">01 8000 118 228</a>
                        </div>
                        <div class="footer__contact-item">
                            <span class="footer__contact-label">Correo Correspondencia:</span>
                            <a href="mailto:correspondencia&#64;unp.gov.co" class="footer__contact-value">correspondencia&#64;unp.gov.co</a>
                        </div>
                        <div class="footer__contact-item">
                            <span class="footer__contact-label">Horario:</span>
                            <span class="footer__contact-value">Lunes a viernes 8:00 a.m. - 5:00 p.m.</span>
                        </div>
                    </div>
                </div>
                
                <!-- Columna: Institucional -->
                <div class="footer__column footer__column--institutional">
                    <h4 class="footer__column-title">Institucional</h4>
                    <ul class="footer__links">
                        <li><a href="https://www.unp.gov.co/transparencia-2/" class="footer__link">Transparencia</a></li>
                        <li><a href="https://www.google.com/maps/place/UNP+Unidad+Nacional+de+Protecci%C3%B3n/@4.6301178,-74.1113856,14z/data=!4m10!1m2!2m1!1sunidad+nacional.de+proteccion!3m6!1s0x8e3f9b000d2f5b11:0x56ca00b94b526c3f!8m2!3d4.6274161!4d-74.1009373!15sCh11bmlkYWQgbmFjaW9uYWwuZGUgcHJvdGVjY2lvbpIBEWdvdmVybm1lbnRfb2ZmaWNl4AEA!16s%2Fg%2F11vz3kjjf5?entry=ttu&g_ep=EgoyMDI2MDQyOS4wIKXMDSoASAFQAw%3D%3D" class="footer__link">Mapa del sitio</a></li>
                        <li><a href="https://www.unp.gov.co/accesibilidad/" class="footer__link">Accesibilidad</a></li>
                        <li><a href="https://www.unp.gov.co/politica-de-privacidad-y-condiciones-de-uso" class="footer__link">Política de privacidad</a></li>
                        <li><a href="https://www.unp.gov.co/atencion-y-servicios-a-la-ciudadania/preguntas-y-respuestas-frecuentes/" class="footer__link">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                
                <!-- Columna: Redes sociales -->
                <div class="footer__column footer__column--social">
                    <div class="footer__social">
                        <h4 class="footer__social-title">Síguenos</h4>
                        <div class="footer__social-links">
                            <a href="https://twitter.com/UNPColombia" target="_blank" class="footer__social-link">
                                <img src="assets/icons/x-twitter.svg" alt="X (Twitter)" class="footer__social-icon">
                            </a>
                            <a href="https://facebook.com/UNPColombia" target="_blank" class="footer__social-link">
                                <img src="assets/icons/facebook.svg" alt="Facebook" class="footer__social-icon">
                            </a>
                            <a href="https://instagram.com/unpcolombia" target="_blank" class="footer__social-link">
                                <img src="assets/icons/instagram.svg" alt="Instagram" class="footer__social-icon">
                            </a>
                            <a href="https://youtube.com/user/unpcolombia" target="_blank" class="footer__social-link">
                                <img src="assets/icons/youtube.svg" alt="YouTube" class="footer__social-icon">
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            </div>
        </div>

        <!-- Barra inferior del footer -->
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="footer__copyright">
                  <p>&copy; 2026 Unidad Nacional de Protección - Todos los derechos reservados</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer__legal">
                  <ul class="footer__legal-links">
                    <li class="footer__legal-item">
                      <a href="#" class="footer__legal-link">Política de privacidad</a>
                    </li>
                    <li class="footer__legal-item">
                      <a href="#" class="footer__legal-link">Términos de uso</a>
                    </li>
                    <li class="footer__legal-item">
                      <a href="https://www.google.com/maps/place/UNP+Unidad+Nacional+de+Protecci%C3%B3n/@4.6301178,-74.1113856,14z/data=!4m10!1m2!2m1!1sunidad+nacional.de+proteccion!3m6!1s0x8e3f9b000d2f5b11:0x56ca00b94b526c3f!8m2!3d4.6274161!4d-74.1009373!15sCh11bmlkYWQgbmFjaW9uYWwuZGUgcHJvdGVjY2lvbpIBEWdvdmVybm1lbnRfb2ZmaWNl4AEA!16s%2Fg%2F11vz3kjjf5?entry=ttu&g_ep=EgoyMDI2MDQyOS4wIKXMDSoASAFQAw%3D%3D" class="footer__legal-link">Mapa del sitio</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</footer>
