<div class="barra-accesibilidad-govco">
    <button 
        id="botoncontraste" 
        class="icon-contraste" 
        (click)="cambiarContexto()"
        aria-label="Cambiar contraste">
        <span id="titlecontraste">Contraste</span>
    </button>
    <button 
        id="botondisminuir" 
        class="icon-reducir" 
        (click)="disminuirTamanio()"
        aria-label="Reducir tamaño de letra">
        <span id="titledisminuir">Reducir letra</span>
    </button>
    <button 
        id="botonaumentar" 
        class="icon-aumentar" 
        (click)="aumentarTamanio()"
        aria-label="Aumentar tamaño de letra">
        <span id="titleaumentar">Aumentar letra</span>
    </button>
</div>
